h3 {
    text-align: center;
    margin: 25px 0 25px 0;
}

table {
    border: 1;
    margin: 15px 0 0 0;
}

#formBorder {
    margin: 15px 0 0 0;
    padding: 15px 10px 10px 15px;
}

label {
    font-weight: bold;
}